.container {
    position: relative;
    background-color:#E7CBA9;
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
  }


.title{
    color:black;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    margin-left: 70px;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.image{
    width: 30%;
    border-radius: 100%;
}

.items{
    color:rgba(30,11, 56);
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 200px;
}

.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(
        90deg, 
        rgb(171, 9, 9, 0.40) 0%,
       rgb(172, 103, 115, 0) 100%
    );
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
}

.item:hover{
    background-size: 100% 100%;
}

.item h3{
    font-size: 25px;
    font-weight: 600;
}

.item p {
    font-size: 25px;
}

@media screen and (max-width:830px) {
    .container {
        /* background-color: transparent; */
        padding-left: 0;
        padding-right: 0;
      }
    
      .content {
        flex-direction: column;
      }
    
      .image {
        display: none;
      }
    
      .items {
        margin-top: 29px;
      }
    
      .item {
        padding-left: 0;
        padding-right: 0;
      }
}